automation2.json
{
  "name": "Automation 2: Real Estate Automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        0
      ],
      "id": "36a0a92b-ecf2-4b8f-aad2-52e8c85b7e3d",
      "name": "Initial Trigger",
      "notes": "Initial Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1cd23VoYMTzn9gRuMbIpZvAaLOqn8IcI5jrYErcex2YY",
          "mode": "list",
          "cachedResultName": "Potential_Customers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cd23VoYMTzn9gRuMbIpZvAaLOqn8IcI5jrYErcex2YY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cd23VoYMTzn9gRuMbIpZvAaLOqn8IcI5jrYErcex2YY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        176,
        0
      ],
      "id": "761af7d6-149b-4dea-8494-26a751dbbbc2",
      "name": "Get data from Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g3oqndpNQvotgelh",
          "name": "Google Sheets account"
        }
      },
      "notes": "Get data from Google Sheets"
    },
    {
      "parameters": {
        "url": "=https://api.genderize.io/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Get data from Google Sheet').item.json.Name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        0
      ],
      "id": "61d6acf3-e896-4d46-aa83-02447b751277",
      "name": "HTTP Request to genderize.io"
    },
    {
      "parameters": {
        "url": "https://api.nationalize.io/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Get data from Google Sheet').item.json.Name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        0
      ],
      "id": "c193c7e4-6243-473d-b45f-587fe3221d30",
      "name": "HTTP Request to nationalize.io"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1cd23VoYMTzn9gRuMbIpZvAaLOqn8IcI5jrYErcex2YY",
          "mode": "list",
          "cachedResultName": "Potential_Customers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cd23VoYMTzn9gRuMbIpZvAaLOqn8IcI5jrYErcex2YY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cd23VoYMTzn9gRuMbIpZvAaLOqn8IcI5jrYErcex2YY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get data from Google Sheet').item.json.id }}",
            "Name": "={{ $('Get data from Google Sheet').item.json.Name }}",
            "Number": "={{ $('Get data from Google Sheet').item.json.Number }}",
            "Budget": "={{ $('Get data from Google Sheet').item.json.Budget }}",
            "Gender": "={{ $('HTTP Request to genderize.io').item.json.gender }}",
            "Nationality": "={{ $('HTTP Request to nationalize.io').item.json.country.first().country_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nationality",
              "displayName": "Nationality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        0
      ],
      "id": "25b6e9c1-fe45-42f0-9de9-d6f851fe4677",
      "name": "Update the data in the sheets obtained from the API",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g3oqndpNQvotgelh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "rupesh2211120@iimscollege.edu.np",
        "subject": "={{ $json.message.content.subject }}",
        "message": "={{ $json.message.content.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        0
      ],
      "id": "bcd798ef-5393-4beb-a2c1-b5549d64f1ce",
      "name": "Send a mail ",
      "webhookId": "e239ce96-423c-48ba-ab92-69248b62aaf5",
      "credentials": {
        "gmailOAuth2": {
          "id": "TIZhaZWl2K8d0rDY",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a helpful assistant who helps in easy creation of email. You aim is to provide me with email which I will then be sending on my email ID.\n\nBelow is the format:\n\n```\n\nHey Rupesh,\n\nA new client {{ $json.Name }} has signed up. Below are the details:\n\nNumber: {{ $json.Number }}\nBudget: {{ $json.Budget }}\n\nBelow is the expected gender and nationality.\n\nGender: {{ $json.Gender }}\nNationality: {{ $json.Nationality }}\n\nDo make sure to connect with him at {{ $json.Number }}.\n\nThanks!\n\n```\n\nPlease make sure that the email and clear and short explanation with suggestion if required for the sale.\n\nStrictly give output as a json not missing any key, below is the structure.\n\n{\n\"subject\": \n\"body\":\n}\n\nAlso make sure that body is html friendly as I will be using this via API which supports HTLM formatting and I should see the email more nicely and readable. {{ $json.Name }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1008,
        0
      ],
      "id": "26c6c652-f924-447c-903b-35c645a3c9f6",
      "name": "OpenAI model",
      "executeOnce": true,
      "credentials": {
        "openAiApi": {
          "id": "BLPhCAatkbr8wR79",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {
    "OpenAI model": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": {
              "subject": "New Client Signup - Rupesh",
              "body": "<p>Hey Rupesh,</p><p>A new client <strong>Rupesh</strong> has signed up. Below are the details:</p><ul><li><strong>Number:</strong> 12345</li><li><strong>Budget:</strong> 100000</li></ul><p>Below is the expected gender and nationality.</p><ul><li><strong>Gender:</strong> male</li><li><strong>Nationality:</strong> IN</li></ul><p>Do make sure to connect with him at <a href=\"tel:12345\">12345</a>.</p><p>Thanks!</p><p><em>Suggestion: Given the budget and client details, prioritizing follow-up within 24 hours may improve conversion chances.</em></p>"
            },
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ]
  },
  "connections": {
    "Initial Trigger": {
      "main": [
        [
          {
            "node": "Get data from Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get data from Google Sheet": {
      "main": [
        [
          {
            "node": "HTTP Request to genderize.io",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request to genderize.io": {
      "main": [
        [
          {
            "node": "HTTP Request to nationalize.io",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request to nationalize.io": {
      "main": [
        [
          {
            "node": "Update the data in the sheets obtained from the API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update the data in the sheets obtained from the API": {
      "main": [
        [
          {
            "node": "OpenAI model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI model": {
      "main": [
        [
          {
            "node": "Send a mail ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "48625f5b-4353-48d3-8c53-cea79fb3cd0c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bae3680a6a6d793df43080626d4e64e9962fd3ac6fa19835620e36c1aa460ce4"
  },
  "id": "2Q3IlZBV424HrVrT",
  "tags": []
}